<h1>{{ "Welcome to chargeControl" }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h4>
Last update: {{ status.time }}<br />
Button: {{ status.button}}<br />
State: {{ status.currentState}}<br />
PowerLimitCountdown: {{ status.limitRemaining}} min<br />
Charging: {{ status.chargeEnabled}}<br />
Cable: {{ status.connected}} {{ status.charging }}<br />
</h4>

Choose maximum chargetime:

<form action="{% url 'polls:vote' 1 %}" method="post">
{% csrf_token %}
  <button name="subject" type="submit" value="0">stop charge</button>
</form>

<form action="{% url 'polls:vote' 60 %}" method="post">
{% csrf_token %}
  <button name="subject" type="submit" value="1">1 hour</button>
</form>

<form action="{% url 'polls:vote' 120 %}" method="post">
{% csrf_token %}
  <button name="subject" type="submit" value="2">2 hours</button>
</form>
<form action="{% url 'polls:vote' 180 %}" method="post">
{% csrf_token %}
  <button name="subject" type="submit" value="3">3 hours</button>
</form>
<form action="{% url 'polls:vote' 240 %}" method="post">
{% csrf_token %}
  <button name="subject" type="submit" value="4">4 hours</button>
</form>
<form action="{% url 'polls:vote' 300 %}" method="post">
{% csrf_token %}
  <button name="subject" type="submit" value="5">5 hours</button>
</form>
<form action="{% url 'polls:vote' 360 %}" method="post">
{% csrf_token %}
  <button name="subject" type="submit" value="6">6 hours</button>
</form>
<form action="{% url 'polls:vote' 420 %}" method="post">
{% csrf_token %}
  <button name="subject" type="submit" value="7">7 hours</button>
</form>
<form action="{% url 'polls:vote' 10000000 %}" method="post">
{% csrf_token %}
  <button name="subject" type="submit" value="10000000">No limit</button>
</form>

<pre>{{ logtext|linebreaks }}</pre>

